.upload-status-new
   background-color: #AAAADD
.upload-status-pending
   background-color: #FFFFFF
.upload-status-succeeded
   background-color: #AADDAA
.upload-status-failed
   background-color: #DDAAAA
